<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <label for="sesionSelector" class="form-label">Selecciona una Sesión</label>
            <select id="sesionSelector" class="form-select" (change)="onSesionChange($event)">
                <option *ngFor="let sesion of sesiones" [value]="sesion.id">{{ sesion.nombre }}</option>
            </select>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Tiempos de la Sesión</h3>
            <p-carousel [value]="paginatedIntentos" [numVisible]="5" [numScroll]="5" (onPage)="onPageChange($event)" class="custom-carousel">
                <ng-template pTemplate="item" let-intento>
                    <div class="intento-card">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tiempo: {{ formatearTiempo(intento.tiempo) }}</h5>
                                <p class="card-text">Fecha: {{ intento.fecha | date:'short' }}</p>
                                <p class="card-text">Scramble: {{ intento.scramble }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
            <p class="text-center mt-3"><strong>Promedio General: </strong>{{ promedioGeneral }}</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Gráfica de Tiempos</h3>
            <div class="chart-container">
                <p-chart type="line" [data]="data" [options]="options" style="height: 600px; width: 100%;"></p-chart>
            </div>
        </div>
    </div>
</div>
