<div class="container mt-5">
    <h2 class="text-center mb-4">Mejores Tiempos por Categorias Globales</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let record of records">
            <div class="card text-white bg-dark shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>{{ record.categoria_nombre }}</span>
                    <span class="badge badge-pill badge-info">{{ convertirTiempo(record.tiempo) }}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ record.nombre_completo }}</h5>
                    <p class="card-text">
                        Usuario: <strong>{{ record.nombre_usuario }}</strong><br>
                        Scramble: <strong>{{ record.scramble }}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center mb-4">Tus Mejores Tiempos por Categoria</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let record of personalRecords">
            <div class="card text-white bg-dark shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>{{ record.categoria_nombre }}</span>
                    <span class="badge badge-pill badge-info">{{ convertirTiempo(record.tiempo) }}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ record.scramble }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
