<div class="container-fluid vh-100 d-flex flex-column justify-content-between">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center" id="scrTimer">U2 L2 F' L2 D' L2 D2 L2 F2 D F2 L2 D' L' B L2 U L D' R'</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mb-4">
        <div class="dropdown no-arrow" style="display: inline-block; margin-right: 20px;">
            <label for="sessionDropdown" style="margin-right: 10px;">Sesión:</label>
            <select class="btn btn-secondary dropdown-toggle" id="sesionOp" [(ngModel)]="selectedSesion" (change)="onSesionChange($event)">
                <option *ngFor="let sesion of sesiones" [value]="sesion.id">{{ sesion.nombre }}</option>
                <option value="Nueva">Nueva</option>
            </select>
        </div>

        <div class="dropdown no-arrow" style="display: inline-block;">
            <label for="mixDropdown" style="margin-right: 10px;">Mezcla:</label>
            <select class="btn btn-secondary dropdown-toggle" id="mezclaOp" [(ngModel)]="selectedCategoria" (ngModelChange)="onCategoriaChange($event)">
                <option *ngFor="let categoria of categorias" [value] = "categoria.nombre">{{categoria.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="modal fade" id="nuevaSesionModal" tabindex="-1" role="dialog" aria-labelledby="nuevaSesionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevaSesionModalLabel">Agregar nueva sesión</h5>
                    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="nuevaSesionForm" (ngSubmit)="crearSesion()">
                        <input type="text" name="nombreSesion" id="nombreSesionInput" [(ngModel)]="nuevaSesionNombre" class="form-control" placeholder="Nombre de la nueva sesión" required>
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex-grow-1 d-flex flex-column justify-content-center">
        <div id="timerContainer" class="text-center">
            <h1 id="cronometro">00:00:00</h1>
            <div class="mt-4 button-group">
                <button class="btn btn-info btn-circle btn-lg mr-4">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-warning btn-circle btn-lg mr-4">
                    <i class="fa fa-times"></i>
                </button>
                <button class="btn btn-danger btn-circle btn-lg">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>

        <div id="aos" class="text-center mt-5">
            <div>
                <h1 id="avg5">avg5: 00:00:00</h1>
                <h1 id="ao12">ao12: 00:00:00</h1>
            </div>
        </div>
    </div>
</div>
