<div class="container my-5">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white text-center">
        <h2>Acerca de EZ Timer</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/img/timer_logo.png" alt="EZ Timer Logo" class="img-fluid rounded-circle shadow-sm">
          </div>
          <div class="col-md-8">
            <h4 class="card-title">Nuestra Misión</h4>
            <p class="card-text">
              En EZ Timer, nos esforzamos por ofrecer la mejor herramienta para la gestión del tiempo, ayudando a nuestros usuarios a ser más productivos y alcanzar sus objetivos de manera eficiente.
            </p>
            <h4 class="card-title">¿Quiénes Somos?</h4>
            <p class="card-text">
              Somos un equipo apasionado por la tecnología y la productividad. Nuestro objetivo es proporcionar una herramienta intuitiva y potente que se adapte a las necesidades de nuestros usuarios.
            </p>
            <h4 class="card-title">Contacto</h4>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  